@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.main-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div#parallelogram-cadastro {
    background-color: #d8c5b3;
    width: 1000px;
    height: 750px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    transform: skew(6deg, 3deg);
    position: absolute;
    z-index: -1;
}

.section-cadastro {
    display: flex;
    background-color: white;
    padding: 30px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    max-width: 70vw;
}

.h1-cadastro {
    padding: 40px 10px;
    text-align: center;
}

.fieldset-cadastro {
    border: none;
}

.fieldset-cadastro:nth-child(2) {
    display: flex;
}

.fieldset-cadastro:nth-child(3) {
    display: flex;
    padding-top: 20px;
}

.fieldset-cadastro:nth-child(4) {
    display: flex;
    padding-top: 20px;
}

.fieldset-cadastro:nth-child(5) {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
}

.fieldset-cadastro:nth-child(6) {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.container-cadastro {
    position: relative;
}

.container-cadastro input {
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 10px 0 10px;
}



.container-cadastro label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #9d9d9d;
    position: absolute;
    line-height: 70px;
    top: 10px;
    left: 20px;
    user-select: none;
    pointer-events: none;
    transition: 0.5s;
}

.container-cadastro input:focus~label,
.container-cadastro input:valid~label {
    left: 20px;
    top: -10px;
    color: #555151;
}

.checks{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

#check {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}

#check input {
    width: 25px;
    height: 25px;
    margin: auto 0;
    margin-top: 8px;
}

#check label {
    margin: auto 10px;
    color: #555;
    transition: 0.5s;
}

#check input:checked~label,
#check input:valid~label {
    color: #00acd7;
}

.button-cadastro {
    margin: 40px 0;
    margin-left: 10px;
    width: calc(50% - 10px);
    height: 70px;
    background-color: #d8c5b3;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.button-cadastro:hover {
    background-color: #c7b2a1;
}

.form-cadastro a {
    text-decoration: none;
    font-size: 16px;
    color: #E3C097;
    font-weight: 500;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 300px;
}

.form-cadastro a:hover {
    color: #111;
}

.section-cadastro img {
    width: 250px;
    height: 250px;
    margin: auto 40px;
}

/* Modal para termos de uso e políticas de privacidade */
.modal_cadastro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escurecido */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Certifique-se de que o modal esteja acima de outros elementos */
}

.modal-content_cadastro {
    background-color: white;
    padding: 20px 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content_cadastro h2 {
    margin-top: 0;
}

.modal-content_cadastro button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #d8c5b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content_cadastro button:hover {
    background-color: #c7b2a1;
}

@media only screen and (max-width: 1080px) {
    div#parallelogram-cadastro {
        height: 690px;
    }

    .section-cadastro img {
        display: none;
    }
}

@media only screen and (max-width: 510px) {
    div#parallelogram-cadastro {
        display: none;
    }

    .section-cadastro {
        min-width: 95vw;
    }

    .form-cadastro {
        width: 100%;
    }

    .fieldset-cadastro:nth-child(2),
    .fieldset-cadastro:nth-child(3),
    .fieldset-cadastro:nth-child(4),
    .fieldset-cadastro:nth-child(5) {
        flex-direction: column;
    }

    .fieldset-cadastro:nth-child(4),
    .fieldset-cadastro:nth-child(3) {
        padding: 0px;
    }

    div#check {
        width: 100%;
    }

    .button-cadastro {
        width: 100%;
        margin-left: 0;
    }
}