@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.main-login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div#parallelogram-login {
    background-color: #d8c5b3;
    width: 700px;
    height: 580px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    transform: skew(6deg, 3deg);
    position: absolute;
    z-index: -1;
}

.section-login{
    display: flex;
    background-color: white;
    padding: 30px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    max-width: 70vw;
}
.h1-login{
    padding: 30px 10px;
    text-align: center;
}
.fieldset-login{
    border: none;
}

.fieldset-login:nth-child(2){
    display: flex;
}

.fieldset-login:nth-child(3){
    display: flex;
    padding-top: 20px;
}

.fieldset-login:nth-child(4){
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.container-login input{
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 10px 0 10px;
}

.container-login{
    position: relative;
}

.container-login label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #9d9d9d;
    position: absolute;
    line-height: 70px;
    top: 10px;
    left: 20px;
    user-select: none;
    pointer-events: none;
    transition: 0.5s;
}

.container-login input:focus ~ label,
.container-login input:valid ~ label {
    left: 20px;
    top: -10px;
    color: #555151;
}

.button-login{
    margin: 25px 0;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 70px;
    background-color: #d8c5b3;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.button-login:hover{
    background-color: #c7b2a1;
}

.form-login a{
    text-decoration: none;
    padding-top: 10px;
    font-size: 16px;
    color: #E3C097;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.form-login a:hover {
    color: #111;
}

.section-login img{
    width: 250px;
    height: 250px;
    margin:auto 40px;
}

/* Estilo do modal */
.modal_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Certifique-se de que o modal esteja acima de outros elementos */
}

.modal-content_login {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px; /* Largura máxima do modal */
    text-align: center;
}

.modal-content_login h2 {
    margin-bottom: 15px;
}

.modal-content_login input {
    width: calc(100% - 20px);
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content_login button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #d8c5b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content_login button:hover {
    background-color: #c7b2a1;
}

@media only screen and (max-width: 1080px) {
	div#parallelogram-login {
		height: 690px;
	}

    .section-login img {
		display: none;
	}
}

@media only screen and (max-width: 510px) {
	div#parallelogram-login {
		display: none;
	}

	.section-login {
		min-width: 95vw;
	}

	.form-login {
		width: 100%;
	}

	.fieldset-login:nth-child(2),
	.fieldset-login:nth-child(3),
	.fieldset-login:nth-child(5) {
		flex-direction: column;
	}

	.fieldset-login:nth-child(3) {
		padding: 0px;
	}

	.button-login {
		width: 100%;
		margin-left: 0;
	}
}