/* Estilo para o Banner */
.banner-home {
    width: 100%;
    height: 500px;
    background-color: #000;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.banner-image {
    height: 100%;
    object-fit: cover;
}

.div-banner {
    top: 50%;
    width: 80%;
    text-align: center;
}

.h1-banner {
    color: #fff;
    margin: 20px;
    font-size: 50px;
}

.h6-banner {
    color: #fff;
    margin: 20px;
    font-size: 20px;
}

/* Estilo para a Navegação do Header */
.nav-header {
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.title {
    font-size: 3.20rem;
    padding: 0.5rem;
}

.subtitle {
    color: #4a4a4a;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.button {
    margin: auto;
    width: 9rem;
    padding: 0.90rem;
    border: 1px solid;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3rem;
}

/* Estilo para a seção de Cursos */
.cursos-section {
    padding-top: 5rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-around;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    color: #4a4a4a;
    background-clip: border-box;
    border-radius: 1rem;
    width: 66.666%;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    margin: 0 1rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    background-clip: border-box;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px;

    width: 100%;  /* Garante que a imagem ocupe 100% do container */
}
.card-image img {
    width: 100%;       /* Garante que a imagem ocupe 100% da largura do contêiner */
    height: auto;      /* Mantém a proporção da imagem */
    object-fit: cover; /* Faz com que a imagem cubra a área do contêiner sem deformação */
}

.card-content {
    padding: 1.5rem;
}

.card-title {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

.card-description {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5rem;
    line-height: 2.5rem;
    
}

/* Estilo para o Acordeão */
.accordion-container {
    padding: 1.5rem 0;
    
}

.accordion-item {
    max-width: 90%;
    margin: 0 auto;

}
.accordion-geral{
    border-radius: 1rem;
}

.accordion {

    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background-color: #EBDBC2;
    color: #444;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 1.5rem;
}

.accordion:hover {
    background-color: #3F3A37;
    color: #F3EADC;
}

.accordion-title {
    text-align: center;
    font-size: 3rem;
}

/* Estilo para o painel de conteúdo do acordeão */
.panel {
    border-top: 2px solid #ddd;
    display: none;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    background-color: #F3EADC;
}

.panel.active {
    display: block;
    max-height: 500px; /* Definindo um valor máximo de altura para o painel quando ele estiver visível */
}

.panel-content {
    padding: 0.5rem 0;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.75rem;
    line-height: 1.7;
    padding-bottom: 5%;
}

.panel-content p {
    margin: 1rem 0;
}

/* Adicionando uma transição suave quando o painel for mostrado ou ocultado */
.panel {
    max-height: 0;
    padding: 0;
    visibility: hidden;
}

.panel.active {
    max-height: 500px; /* altura ajustável */
    padding: 1rem 0;
    visibility: visible;
}
@media (max-width: 904px) {
    .card{
       width: 100%;
    }

    .card-title {
        margin-bottom: 0.5rem;
        font-size: 1.86rem;
        font-weight: 600;
        padding: 1rem 0;
        text-align: center;
        line-height: 0rem;
    }
    .card-image {
        width: 90%;  /* Ajusta o tamanho do card em telas médias */
        margin: 0 auto; /* Centraliza o card */
    }
    
    .card-image img {
        width: 100%; /* Garante que a imagem preencha 100% da largura do card */
        height: auto; /* Mantém a proporção da imagem */
    }
    
    .card-description {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 300;
        padding: 0.5rem;
        
    }
    .accordion {

        display: flex;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        background-color: #EBDBC2;
        color: #444;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        font-size: 1.5rem;
    }
    .accordion-title {
        text-align: center;
        font-size: 2rem;
    }
    .panel-content {
        padding: 0.5rem 0;
        text-align: left;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1.2rem;
        line-height: 1.7;
        padding-bottom: 5%;
    }
}
@media (min-width: 1500px) {
    .panel-content {
       padding-top: 2%; 
       padding-left: 15%;
       padding-right: 15%;
   
  
    }
    .accordion {
        justify-content: center; /* Centraliza os itens dentro do accordion */
    }
    
    .accordion-title {
        text-align: center; /* Centraliza o texto do título */
        flex: 1; /* Garante que o título ocupe o espaço necessário */
    }
    .card-image {
        width: 80%;  /* Ajusta o card para uma largura maior */
        margin: 0 auto; /* Centraliza o card */
    }

    .card-image img {
        width: 100%; /* A imagem vai ocupar 100% da largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }
}
@media (min-width: 2500px){
    .card{
        width: 50%;
    }
   
        .card-image {
            width: 70%;  /* Ajusta o tamanho do card para telas muito grandes */
            margin: 0 auto; /* Centraliza o card */
        }
    
        .card-image img {
            width: 100%; /* A imagem vai ocupar 100% da largura do contêiner */
            height: auto; /* Mantém a proporção da imagem */
        }
    
}